{% extends "base.html" %}

{% block content %}

{% load static %}

<section class="section-content padding-y bg">
	<div class="container">
	
	<!-- ============================ COMPONENT 1 ================================= -->
	
	<div class="row">
		<aside class="col-lg-12">
			<div class="card">
				<table class="table table-borderless table-shopping-cart">
					<thead class="text-muted">
						<tr class="small text-uppercase">
							<th scope="col">Product</th>
							<th scope="col" width="120">Price</th>
							<th scope="col" class="text-right" width="200"> </th>
						</tr>
					</thead>
					<tbody>

					{% for wishlist_item in wishlist_items %}
						<tr>
							<td>
								<figure class="itemside align-items-center">
									<div class="aside">
										<img src="{{ wishlist_item.product.image.url }}" class="img-sm" alt="{{ wishlist_item.product.product_name }}">
									</div>
									<figcaption class="info">
										<a href="{{ wishlist_item.product.get_absolute_url }}" class="title text-dark">{{ wishlist_item.product.product_name }}</a>
										<p class="text-muted small">Color: {{ wishlist_item.product.color }} <br> Size: {{ wishlist_item.product.size }}</p>
									</figcaption>
								</figure>
							</td>
							<td> 
								<div class="price-wrap"> 
									<var class="price">Rs.{{ wishlist_item.product.product_price }}</var> 
								</div> <!-- price-wrap .// -->
							</td>
							<td class="text-right">
								<a href="{% url 'remove_wishlist_item' wishlist_item.product.id %}" class="btn btn-danger" style="margin-right: 10px;"> Remove </a>
								<a href="{% url 'add_cart' wishlist_item.product.id %}" class="btn btn-primary"> Add to Cart </a>
							</td>
						</tr>
					{% endfor %}
	
					</tbody>
				</table>
			</div> <!-- card.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
	
	<!-- ============================ COMPONENT 1 END .// ================================= -->
	
	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
